[user]
	name = S. Elliott Johnson
	email = sejohnson@torchcloudconsulting.com
[init]
	defaultBranch = main
[commit]
	gpgSign = true
[include]
  path = /home/src/repos/.everythingconfig/.localgit
[push]
	followTags = true
[alias]
	lrm = "!f() { git branch --merged | egrep -v '(^\\*|master|main|dev)' ; }; f"
  drm = "!f() { git lrm | xargs git branch -d ; }; f"
[pull]
	ff = only
[gpg]
  program = C:/Program Files (x86)/gnupg/bin/gpg.exe
[user]
  signingKey = 189485FD9404B562

