[user]
	name = S. Elliott Johnson
	email = sejohnson@torchcloudconsulting.com
[init]
	defaultBranch = main
[push]
	followTags = true
[alias]
	lrm = "!f() { git branch --merged | egrep -v '(^\\*|master|main|dev)' ; }; f"
  drm = "!f() { git lrm | xargs git branch -d ; }; f"
[pull]
	ff = only
