[user]
	name = S. Elliott Johnson
	email = sejohnson@torchcloudconsulting.com
[init]
	defaultBranch = main
[commit]
	gpgSign = true
[include]
    path = ~/src/repos/.everythingconfig/.localgit
[push]
	followTags = true
